<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{{titulo}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col mt-4">

                
                    <div class="card text-dark text-center bg-warning mb-3">
                        <div class="card-header">
                            <h3>
                                --- TypeScript ---
                            </h3>
                        </div>
                        <div class="card-body">
                        <p class="card-text">
                            TypeScript es un lenguaje de programación libre y de código abierto desarrollado 
                            y mantenido por Microsoft. Es un superconjunto de JavaScript, que esencialmente 
                            añade tipos estáticos y objetos basados en clases. Anders Hejlsberg, diseñador 
                            de C# y creador de Delphi y Turbo Pascal, ha trabajado en el desarrollo de TypeScript.
                            TypeScript es usado para desarrollar aplicaciones JavaScript que se ejecutarán en 
                            el lado del cliente o del servidor, o extensiones para programas (Node.js y Deno).
                            TypeScript extiende la sintaxis de JavaScript, por tanto cualquier código JavaScript 
                            existente debería funcionar sin problemas. Está pensado para grandes proyectos, los 
                            cuales a través de un compilador de TypeScript se traducen a código JavaScript original.
                            TypeScript soporta ficheros de definición que contengan información sobre los tipos de 
                            librerías JavaScript existentes, similares a los ficheros de cabeceras de C/C++ que 
                            describen la estructura de ficheros de objetos existentes. Esto permite a otros 
                            programas usar los valores definidos en los ficheros como si fueran entidades TypeScript 
                            de tipado estático. Existen cabeceras para librerías populares como jQuery, MongoDB y 
                            D3.js, y los módulos básicos de Node.js.

                        </p>
                        </div>
                    </div>


            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>